<launch>
    <arg name="debug" default="false"/>

    <arg unless="$(arg debug)" name="launch-prefix" value=""/>
    <arg     if="$(arg debug)" name="launch-prefix" value="gdb ex --args"/>

    <env name="SMPL_VISUALIZE_CONFIG_FILE" value="$(find smpl_test)/config/smpl_visual.ini"/>
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find smpl_test)/config/rosconsole.properties"/>

    <include file="$(find smpl_test)/launch/test_common.launch.xml"/>

    <node name="test_planner" pkg="smpl_test" type="test_planner"
            launch-prefix="$(arg launch-prefix)" clear_params="true">
        <param name="robot_model_type" value="pr2"/>

        <rosparam param="graph">
            type: workspace_lattice
        </rosparam>

        <rosparam param="heuristic">
            type: bfs
            inflation_radius: 0.04
            cost_per_cell: 100
        </rosparam>

        <rosparam param="search">
            type: arastar
            initial_eps: 100.0
            allow_partial_solutions: false
            target_eps: 1.0
            delta_eps: 1.0
        </rosparam>

        <rosparam param="goal">
            type: pose
            x: 0.4
            y: -0.2
            z: 0.36
            roll: 0.0
            pitch: 0.0
            yaw: 0.0
        </rosparam>

        <param name="allowed_planning_time" value="15.0"/>
    </node>
</launch>
